// Colors
//Primary
$primary-green: hsl(75, 94%, 57%);
//Neutrals
$neutral-white: hsl(0, 0%, 100%);
$neutral-grey: hsl(0, 0%, 20%);
$neutral-dark-grey: hsl(0, 0%, 12%);
$neutral-off-black: hsl(0, 0%, 8%);

//Font weights
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
