@use 'normalize';
@use 'fonts';
@import 'variables';
@import 'mixins';

body {
  font-family: 'Inter', sans-serif;
  background-color: $neutral-off-black;
  // box-sizing: border-box;
}

main {
  @include flex-center;
  height: 100svh;
}

.card {
  width: clamp(320px, 50%, 360px);
  height: 550px;
  background-color: $neutral-dark-grey;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.card-picture {
  img {
    border-radius: 50%;
  }
}

.card-name {
  color: $neutral-white;
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
  margin: 20px 0 10px 0;
}

.card-location {
  color: $primary-green;
  font-size: .75rem;
  font-weight: $font-weight-medium;
}

.card-quote {
  color: $neutral-white;
  font-size: .7rem;
  margin: 30px 0 20px 0;
}



.card-links {
  ul {
    @include flex-center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0px;
    li {
      background-color: $neutral-grey;
      list-style: none;
      border-radius: 10px;
      width: 280px;

      &:hover {
        background-color: $primary-green;

        a {
          color: $neutral-off-black;
        }
      }
    }

    a {
      font-size: .8rem;
      font-weight: $font-weight-medium;
      text-decoration: none;
      color: $neutral-white;
      display: block;
      padding: 14px;
    }
  }
}


footer {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: $neutral-white;
  font-size: .7rem;

  a {
    color: $primary-green;
    text-decoration: none;
  }
}
