@use 'normalize';
@use 'fonts';
@import 'variables';
@import 'mixins';

body {
  font-family: 'Inter', sans-serif;
  background-color: $neutral-off-black;
}

main {
  @include flex-center;
  height: 100svh;
}

.card {
  background-color: $neutral-dark-grey;
}
